<%- include('../../partials/header.ejs'); %>
<%- include('../../partials/navbar.ejs'); %>

<div class="container">
    <hr>
    <div class="d-flex justify-content-between align-center">
        <h2>Usuários</h2>
        <a class="btn btn-success" href="/admin/users/create">
            Criar novo usuário
        </a>
    </div>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Email
                </th>
                <th>
                    Excluir
                </th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
            <tr>
                <td>
                    <%= user.id %>
                </td>
                <td>
                    <%= user.email %>
                </td>
                <td class="d-flex justify-content-center">
                    <form method="post" action="/users/delete">
                        <input type="hidden" name="id" value="<%= user.id %>">
                        <button class="btn btn-danger">
                            Excluir
                        </button>
                    </form>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<%- include('../../partials/footer.ejs'); %>

<script>
    // Prevenindo exclusões por acidente
    const forms = document.querySelectorAll('form');

    for (i = 0; i < forms.length; i++) {
        forms[i].addEventListener('submit', function(e) {
            e.preventDefault();

            const userId = this.parentElement.parentElement.children[0].textContent.trim();

            const confirmation = confirm(`Tem certeza que deseja excluir o usuário ${userId}?`);
            
            if (confirmation) {
                this.submit();
            }
        });
    }
</script>